<h2> TinyApp </h2>
<p> <a href="/urls/new">Create new tiny URL </a> | <a href="/urls">TinyURLS</a> </p>

<% if (!user) { %>
    <p> <a href="/register">Register</a> | <a href="/login">Login</a> </p>
<% } else { %>
    <h4>Welcome back</h4> <%= user.email %>! &nbsp;</td>
    <form method="POST" action="/logout">
        <button type="submit">Logout</button>
    </form>
<% } %>