<!DOCTYPE html>
<h2> TinyApp </h2>
  <p> <a href="/urls/new">Create new tiny URL </a> | <a href="/urls">TinyURLS</a> </p></p>

  <p> <a href="/register">Register</a> | <a href="/login">Login</a> </p>
<body style="font-size:20px; padding:50px;">
 
  <h2>Register here</h2>
   <form method="POST" action="/register">
    <input name="email" placeholder="email"/>
    <input name="password" placeholder="password"/>
    <input type="submit" value="Register Here"/>
    </form>
</body>
</html>
